:root{
    --nav-black: #212121;
    --accent: #2196F3;
    --footer-bcg: #2F303A;
    --page-color:#ffffff;
    --main-text-color:#212121;
    --paragraf-color: #ffffff;
    --adress-color: #757575;
    --down-section:#F5F4FA;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--page-color);
    font-size: 14px;
    letter-spacing: 0.02em;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.logo-studio-color{
    color: var(--accent);
    
}
.navigation{
    color: var(--nav-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation:hover,
.navigation:focus,
.out-navigation:hover,
.out-navigation:focus,
.footer-navigation:hover,
.footer-navigation:focus
{
    color: var(--accent);
}
.current{
    color: var(--accent);
}
.current:hover,
.current:focus{
    color: var(--nav-black);
}
.out-navigation{
    color: var(--adress-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}
.list{
    list-style-type: none;
    
}
/* -----Hero-----*/
.hero{
    background-color: var(--footer-bcg);
}
.hero-text{
    color: var(--paragraf-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
.button{
    color: var(--paragraf-color);
    background-color: var(--accent);
    font-family: inherit
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}
.button:hover,
.button:focus{
    background-color: var(--paragraf-color);
    color: var(--accent);
}
.second-section{
    color: var(--page-color);
}
.hiden-text{
    visibility: hidden;
}
.section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.section-paragraf{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
     color: #757575;
}
.section-projects-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 2.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.teem-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.teem-profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575; 
}
/* -----Footer-----*/
.footer{
    color: #ffffff;
    background-color: var(--footer-bcg);
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}
.footer-navigation{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.adress-footer{
    font-style: normal;
}
.down-part{
    background-color: var(--down-section);
}
/* -----Portfolio-----*/
.button-portfolio{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: #212121;
}
.button-portfolio:hover,
.button-portfolio:focus
{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
    background-color: var(--accent);
}
.carts-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.text-decoratio-none{
     text-decoration: none;
}

.carts-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--adress-color);
}